/*
https://gwfh.mranftl.com/fonts
 google webfonts helper better for privacy
*

/* outfit-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/outfit-v15-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/outfit-v15-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/outfit-v15-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* young-serif-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Young Serif';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/young-serif-v2-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --c-white: hsl(0, 0%, 100%);
  --c-stone-100: hsl(30, 54%, 90%);
  --c-stone-150: hsl(30, 18%, 87%);
  --c-stone-600: hsl(30, 10%, 34%);
  --c-stone-900: hsl(24, 5%, 18%);
  --c-brown-800: hsl(14, 45%, 36%);
  --c-rose-800: hsl(332, 51%, 32%);
  --c-rose-50: hsl(330, 100%, 98%);
  --color-background: var(--c-stone-100);
  --color-background-recipe: var(--c-white);
  --color-headline-primary: var(--c-stone-900);
  --color-headline-secondary: var(--c-rose-800);
  --color-text: var(--c-stone-600);
  --color-prep-background: var(--c-rose-50);
  --color-prep-headline: var(--c-rose-800);
  --color-border: var(--c-stone-150);
  --ff-sans-serif: 'Outfit', Arial, Helvetica, sans-serif;
  --ff-serif: 'Young Serif', Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: var(--color-background);
  margin: 0;
  font-family: var(--ff-sans-serif);
}

h1,
h2 {
  font-family: var(--ff-serif);
  line-height: 1;
}

h1 {
  font-size: 2.25rem;
  margin-block-end: 20px;
  color: var(--color-headline-primary);

  /* Style that applies for screen greater than 68.75 rem*/
  @media (width >=68.75rem) {
    font-size: 2.75rem;
  }
}

h2
{
  font-size: 1.6rem;
  color: var(--color-headline-secondary);
}


p {
  font-size: 1rem;
  line-height: 1.3;
  color: var(--color-text);

  @media (width >=68.75rem) {
    font-size: 1.15rem;
    margin-block-end: 24px;
  }
}

p,
ul li,
ol li{
  color: var(--color-text);
}


ul,
ol
{
  padding-inline-start: 18px;
  li {
    padding-inline-start: 20px;
    line-height: 1.75;
  }
}


img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: grid;
  place-items: center;


  /* Style that applies for screen greater than 68.75 rem*/
  @media (width >=68.75rem) {
    padding-block: 8rem;
  }

}

.recipe {
  background-color: var(--color-background-recipe);

  @media (width >=68.75rem) {
    max-width: 52rem;
    border-radius: 12px;
    padding: 36px;
  }

}

.recipe__image {
  @media (width >=68.75rem) {
    border-radius: 10px;
    margin-block-end: 12px;
  }
}

.recipe__text {
  @media (width < 68.75rem) {
    padding: 30px 24px;
  }
}

.prep {
  background-color: var(--color-prep-background);
  padding: 20px;
  border-radius: 12px;

  h2
  {
    font-family: var(--ff-sans-serif);
    font-size: 1.2rem;
    color: var(--color-headline-secondary);
  }

}


.border-bottom
{
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-border);
}