

/*
https://gwfh.mranftl.com/fonts
 google webfonts helper better for privacy
*

/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/outfit-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/outfit-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/outfit-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* young-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Young Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/young-serif-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after
{
	box-sizing: border-box;
}

:root
{
  --c-white: hsl(0, 0%, 100%);
  --c-stone-100: hsl(30, 54%, 90%);
  --c-stone-150: hsl(30, 18%, 87%);
  --c-stone-600: hsl(30, 10%, 34%);
  --c-stone-900: hsl(24, 5%, 18%);

  --c-brown-800: hsl(14, 45%, 36%);
  --c-rose-800: hsl(332, 51%, 32%);
  --c-rose-50: hsl(330,100%, 98%);
  --color-background: var(--c-stone-100);
  --color-background-recipe: var(--c-white);
}

body
{
  background-color: var(--color-background);
	margin: 0;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

h1,
h2
{
  font-family: 'Young Serif', Georgia, 'Times New Roman', Times, serif;
  line-height: 1;
}

h1
{
  font-size: 2rem;
}


img{
	max-width: 100%;
	height: auto;
}

.wrapper
{
  display: grid;
  place-items: center;
  

  /* Style that applies for screen greater than 68.75 rem*/
  @media (width >= 68.75rem)
  {
    padding-block: 8rem;
  }

}

.recipe
{
  background-color: var(--color-background-recipe);

  @media (width >= 68.75rem)
  {
    max-width: 52rem;
    border-radius: 12px;
    padding: 36px;
  }

}

.recipe__image
{
  border-radius: 10px;
}



